In [61]:
import pandas as pd
from io import StringIO
import numpy as np

In [62]:
adult_data = pd.read_csv("adult.csv")

In [63]:
adult_data.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [64]:
adult_data.columns = [ "Age" , "Employment" , "fnlwgt" , "Education" , "Education-num" , "Maritial-Status"  , "Ocuupation",
                     "Relationshep"  , "Race" , "Sex" , "Capital-Gain" , "Capital-Loss", "Hours-Per-Week" , "Native-Country",
                     "Money"]

In [65]:
adult_data.head()

,Age,Employment,fnlwgt,Education,Education-num,Maritial-Status,Ocuupation,Relationshep,Race,Sex,Capital-Gain,Capital-Loss,Hours-Per-Week,Native-Country,Money
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [66]:
adult_data.isnull().sum()

Age                0
Employment         0
fnlwgt             0
Education          0
Education-num      0
Maritial-Status    0
Ocuupation         0
Relationshep       0
Race               0
Sex                0
Capital-Gain       0
Capital-Loss       0
Hours-Per-Week     0
Native-Country     0
Money              0
dtype: int64

In [67]:
employment_mappping = { label:idx for idx , label in enumerate(np.unique(adult_data["Employment"]))}
employment_mappping

{' ?': 0,
 ' Federal-gov': 1,
 ' Local-gov': 2,
 ' Never-worked': 3,
 ' Private': 4,
 ' Self-emp-inc': 5,
 ' Self-emp-not-inc': 6,
 ' State-gov': 7,
 ' Without-pay': 8}

In [68]:
def set_map(df , new_map_data , col_name):
    
    df[col_name] = df[col_name].map(new_map_data)
    return df

def col_encoder(df , col_name):
    '''
    When Even you have columns on your data that has non-numaric data on it ,use this to convert then to numaric data
    '''
    
    new_mapping = { label:idx for idx , label in enumerate(np.unique(df[col_name]))}
    df[col_name] =df[col_name].map(new_mapping)
    old_mapping = { v:k for k , v in new_mapping.items()}
    return df ,old_mapping

In [69]:
adult_data= set_map(adult_data , employment_mappping , "Employment")

In [70]:
adult_data , old_marital_status_mapping= col_encoder(adult_data , "Maritial-Status")
adult_data , old_education_mapping = col_encoder(adult_data , "Education")
adult_data , old_ocupation_mapping = col_encoder(adult_data , "Ocuupation")
adult_data , old_relationship_mapping = col_encoder(adult_data , "Relationshep")
adult_data , old_race_mapping= col_encoder(adult_data , "Race")
adult_data , old_occupation_mapping = col_encoder(adult_data , "Ocuupation")
adult_data , old_sex_mapping = col_encoder(adult_data , "Sex")
adult_data , old_naive_country_mapping = col_encoder(adult_data , "Native-Country")
adult_data , old_money_mapping = col_encoder(adult_data , "Money")
adult_data , old_emploment_mapping = col_encoder(adult_data , "Employment")

In [71]:
adult_data.head()

,Age,Employment,fnlwgt,Education,Education-num,Maritial-Status,Ocuupation,Relationshep,Race,Sex,Capital-Gain,Capital-Loss,Hours-Per-Week,Native-Country,Money
0,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
1,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
2,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
3,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0
4,37,4,284582,12,14,2,4,5,4,0,0,0,40,39,0

In [72]:
x = adult_data["Age"].values

In [130]:
from sklearn.cross_validation import train_test_split

x = adult_data.iloc[: , :-1].values  # first ':' says get all the rows , :-1 says give me every thing but the last col
y = adult_data.iloc[0:,-1].values

In [131]:
X_train , X_test , y_train , y_test = train_test_split(x , y , test_size = 0.3 , random_state = 0)

In [132]:
print(len(X_train) , len(y_train) , len(X_test) , len(y_test))

22792 22792 9768 9768

In [135]:
X_train[1]

array([    45,      4, 170871,     11,      9,      2,      3,      0,
            4,      1,   7298,      0,     60,     39])

In [136]:
from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train)
X_test_std = stdsc.transform(X_test)

/home/musa/miniconda3/envs/nltk_env/lib/python3.5/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

In [138]:
from sklearn import svm
clf = svm.SVC()

In [139]:
clf.fit(X_train_std , y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [140]:
from sklearn.metrics import accuracy_score

predictions = clf.predict(X_test_std)

In [141]:
accuracy_score(y_test , predictions)

0.84899672399672399